/* .fade-in-image {
  animation: fadeIn 5s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.fade-in-image {
  opacity: 50%;
  transition: opacity 1s;
}

.fade-in-image img {
  width: 500px;
  transition: width 1s, transform 2s;
}

.fade-in-image:hover {
  opacity: 100%;
  transition: opacity 1s;
}

.fade-in-image img:hover {
  width: 300px;
  transition: width 1s;
  transform: rotate(180deg);
}
