.my-lib-ui {
    &-checkbox {
        &-input{
            &:checked + label::after{
                background-color: black;
            }
            display: none;
        }
        &-label{
            display: inline-block;
            margin-left: 30px;
            position: relative;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            font-family: 'Abel', sans-serif;
            &::before{
                content: '';
                position: absolute;
                width: 13px;
                top: 50%;
                transform: translateY(-50%);

                height: 13px;
                border: solid black 2px;
                border-radius: 1px;
                left: -30px ;
            }
            &::after{
                content: '';
                position: absolute;
                width: 11px;
                height: 11px;
                left: -27px ;
                border-radius: 1px;
                background-color: white;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}