.my-lib-ui {
  &-form-field {
    background: #F9F9F9;
    position: relative;
    display: flex;
    height: 60px;
    flex-direction: column;
    padding: 0px 15px;
    align-items: flex-start;
    justify-content: center;
    img{
      position: absolute;
      right: 13px;
    }
  }
  &-label {
    order: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
  }

  &-input {
    &-text-focus{
      border-bottom: solid 2px black ;
    } 
    &::placeholder{
      color: #7D7D7D;
    }
    order: 1;
    padding: 0;
    background-color: transparent;
    border-bottom: 2px solid black;
    color: #C00000;;
    font-family: 'Abel';
    outline: none;
    border: 0;
    font-size: 16px;
    &:focus { 
      & ~ label{
        color : #2D2D2D;
      }
      border: 0;
     
    }
    
  }
  
}
