.my-lib-ui {
  &-form-field {
    background: #F9F9F9;
    display: flex;
    height: 60px;
    flex-direction: column;
    padding: 0 15px;
    align-items: flex-start;
    justify-content: center;
  }
  &-label {
    order: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
  }

  &-input {
    &-text-focus{
      border-bottom: solid 2px black ;
    }

    &::placeholder{
      color: #7D7D7D;
    }
    width: 100%;
    order: 1;
    padding: 0;
    background-color: transparent;
    color: #C00000;
    font-family: 'Abel', sans-serif;
    outline: none;
    border: 0;
    font-size: 16px;
    &:focus {
      & ~ label{
        color : #2D2D2D;
      }
      border: 0;

    }

  }
}
.capitalize{
  text-transform: capitalize;
}
