@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Roboto:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
main{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 72px;
}

header{
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 9px;
  justify-content: space-between;
  background-color: white;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.05));
}
.home-bg{
  width: 100%;
}
.home-banner{
  width: 100%;
  position: relative;
}
.info-box{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px 43px;
  margin: 0;
  background-color: white;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  
  font-size: 18px;
  line-height: 25px;
  width: 45%;
}
.info-box::before{
  content: '▷';
  color: #C00000;
}
.info-box::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 95%;
  left : 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #C00000;
}
header div span{
  font-family: 'Bayon';
  font-size: 39.1476px;
  line-height: 39px;
  margin-left: 17px;
}
.logo-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
<<<<<<< HEAD

.login-page {
  padding-bottom: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box{
  background-color: #FFFFFF;
}

.login-form {
  flex-direction: column;
}

.login-button {
  width: fit-content;
}

main {
  background: #F5F5F5;
=======
.radio-box {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: row;
}
.home-form{
  width: 45%;
  background-color: white;
  padding: 16px 43px;
}
.home-form h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
  color: #C00000;
>>>>>>> 7ba88eea7f233d6d01292bebab4c64d71ee9f45a
}