@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Roboto:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
main{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 72px;
}

header{
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 9px;
  justify-content: space-between;
  background-color: white;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.05));
}
.home-bg{
  width: 100%;
}
.home-banner{
  width: 100%;
  position: relative;
}
.info-box{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px 43px;
  margin: 0;
  background-color: white;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  
  font-size: 18px;
  line-height: 25px;
  width: 45%;
}
.info-box::before{
  content: '▷';
  color: #C00000;
}
.info-box::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 95%;
  left : 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #C00000;
}
header div span{
  font-family: 'Bayon';
  font-size: 39.1476px;
  line-height: 39px;
  margin-left: 17px;
}
.logo-box{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page {
  padding-bottom: 124px;
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
}

.button-goback {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  color: black;
}
.button-goback::before{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  margin-right: 5px;
  content: '←';
  color: #C00000;
}

.my-lib-input-text {
  margin-bottom: 24px;
}

.login-box{
  margin-top: 124px;
  align-items: left;
}
.login-input-box{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.login-form {
  width: 358px;
  padding: 16px;
  background: #FFFFFF;
  flex-direction: column;
  margin-top: 16px;
}

.label-login {
  margin: 0 0 25px 0;
  font-family: 'Roboto';
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  color: #C00000;
}

.login-button button {
  margin-top: 24px;
  width: 326px;
  background: #C00000;
  justify-content: center;
  font-family: 'Roboto';
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  margin-top: 36px;
  height: 44px;
}
.inscription-confirmation-box{
  margin-top: 8px;
  background: #F9F9F9;
  padding: 16px;
}
.app-box{
  padding: 42px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
main {
  background: white;
  margin-bottom: 80px;
}
#login main {
  background-color: #F5F5F5;
  min-height: 100vh;
}
.radio-box {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-direction: row;
}
.home-form{
  width: 45%;
  background-color: white;
  padding: 16px 43px;
  display: flex;
  flex-direction: column;
}
.home-form h1{
  font-family: 'Roboto';
  font-style: normal;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
  color: #C00000;
}
.home-form-p{
  margin: 8px 0;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.input-box{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 21px;
}

.home-form-submit{
  margin-left: auto;
}
.home-form-submit button{
  padding: 12px 75px;
}

.permis-checkbox{
  margin: 35px 0;
}

footer{
  padding: 25px 75px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
}

footer p{
  margin: 0;
  margin-top: 25px;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

footer ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 25px;
  padding: 0;
}

footer ul li{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}
footer ul li a{
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .input-box{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
  .home-form{
    width: 100%;
    padding: 48px 24px;
  }
  .home-bg{
    height: 457px;
    object-fit: cover;
    object-position: left;
  }
  .info-box{
    width: 80%;
    transform: unset;
    left: auto;
    right: 0;
  }
  .app-box{
    padding: 32px 0;
    flex-direction: column;
    gap: 24px;
  }
  footer{
    padding: 25px 20px;
  }
  .home-form-submit button{
    width: 100%;
  }
  .home-form-submit {
    margin: 0;
  }
  .login-box{
    margin-top: 32px ;
  }
}